.container{
  text-align: center;
  margin-top: 100px;
}

button{
  background-color: aqua;
  color: red;
  border: 3px solid green;
  width: 200px;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

h1{
  color: darkblue;
}

h2{
  font-size: 40px;
}
